.search-section{
    background: lightgray;
}
.search-section form{
    text-align: center;
    padding: 2% 0;
}
.search-section form input{
    padding: 1% 2% 1% 2%;
    border: solid 1px;
}
.search-section form input:focus{
    outline: none;
}
.search-section form button{
    padding: 1.1%;
    background: darkblue;
    color: white;
    border: none;
    margin-left: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.result{
    padding: 2% 3%;
}
.result .main-results{
    border: solid 1px gray;
    padding: 2%;
    border-radius: 6px;
    margin-top: 2%;
}
.result .main-results .sound-button{
    padding: 1.4%;
    border-radius: 50%;
    margin-right: 3px;
    border: solid 1px;
    background-color: darkblue;
    color: white;
    border: solid 1px darkblue;
    cursor: pointer;
    transform: translateY(-3px);
    transition: all 0.4s ease-in-out;
}
.result .main-results .sound-button:hover{
    background-color: white;
    color: darkblue;

}
.result .main-results .word{
    display: inline-block;
    font-style: italic;
    font-weight: 500;
    color: rgb(49, 49, 49);
}
.result .main-results .definitions ul{
    margin-left: 1%;
}
.result .main-results .definitions .partofspeech{
    margin-top: 20px;
    font-style: italic;
    text-decoration: underline
}
.result .main-results .definitions ul li{
    list-style-type: circle;
    margin: 1% 0;
}
.result .main-results .definitions ul li h1{
    font-size: 18px;
    font-weight: 400;
}
.result .main-results .definitions ul .example{
    font-size: 13px;
    font-weight: 600;
}
.result .main-results .definitions ul .example span{
    font-weight: 500;
}